<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:inline="javascript">
        var myname=[[${name}]];
        var myage=[[${age}]];
        alert(myname+"-----"+myage)
    </script>
</head>
<body>
<h1> 成功 </h1>
<div>
    <h3> 内联表达text,使用内联表达显示变量的值</h3>
    <div th:inline="text">
        <p> ich bin[[${name}]],age is[[${age}]]</p>
    </div>
</div>
<p th:text="|i am from china.i am ${name},i am ${age}|"></p>


</body>
</html>